.cart-header {
    margin-top: 20%;
    margin-bottom: 10%;
    text-align: center;
    font-size: 25px;
}

.cart-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid lightgray;
    font-size: 12px;
}



.cart-details-top {
    border-top: 1px solid lightgray;
}

.cart-window-button-container {
    display: flex;
    width: 100%;
    height: 10%;
}

.cart-window-button:hover {
    background-color: black;
    color: white;
    /* text-decoration: underline; */
}

.cart-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sneaker-cart-img {
    height: auto;
    width: 100%;
    padding-bottom: 50px;
    margin: auto;
}

.shopping-cart {
    margin-top: 15%;
    margin-bottom: 10%;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top: 1px solid black;
    min-height: 500px;
}

.left-cart-window {
    width: 60%;
    border-right: 1px solid lightgray;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.right-cart-window {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: monospace;
}

.checkout-info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    margin: 5%;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.checkout-info-container {
    padding-bottom: 100px;
}
.ci1 {
    border-top: 1px solid lightgray;
    padding-top: 10px;
    height: 50px;
    display: flex;
    align-items: center;
}

.checkout-header {
    text-align: center;
    margin: 15% 0 5% 0;
    font-size: 25px;
}

.checkout-linked:hover span {
    display: none;
}

.checkout-linked:hover:before {
    content: "DOAP-GITHUB"
}

.checkout-gh:hover span {
    display: none;
}

.checkout-gh:hover:before {
    content: "GitHub"
}

.checkout-buttons:hover {
    background-color: black;
    color: white;
}

.checkout-buttons {
    /* display: flex; */
    width: 100%;
    height: 100%;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 15px;
}

.checkout-button-links {
    display: flex;
    height: 10%;
    text-align: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif!important; 
    text-transform: uppercase; 
    font-size: 15px;
}

.def-cart {
    display: none;
}

.left-cart-header {
    text-align: center;
    padding-top: 5%;
    color: grey;
    font-size: 12px;
    font-family: monospace;
}

.left-cart-header2 {
    text-align: center;
    padding-top: 5%;
    color: black;
    font-size: 20px;
    margin: 0 10% 0 10%;
    border-bottom: 1px solid grey;
    padding-bottom: 2%;
    font-family: monospace;
} 

.left-cart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 2% 0 2% 5%;
    border-bottom: 1px solid grey;
    font-family: monospace;
}

.cart-image-container {
    display: flex; 
    width: 30%;
}

.left-cart-right-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 15px;
    text-align: right;

}

.cart-list {
    display: flex;
    flex-direction: column;
    margin: 2% 10% 2% 10%;
}

.cart-font {
    font-family: monospace;
    margin-bottom: 5%;
}

.cart-window-button {
    font-family: monospace;
    font-size: 20px;
    height: 100%;
    width: 50%;
    border: 1px solid grey;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.noItemsDefault {
    margin: 10%;
    font-family: monospace;
    text-align: center;
}

.ship-add {
    text-align: right;
}

.disclaimer {
    /* padding-top: 20%; */
    font-size: 12px;
    text-align: center;
    display: flex;
}

.remove-button:hover {
    text-decoration: underline;
}