.carolsel {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: monospace;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-bottom: 25px;
    padding-top: 20px;
}

.carolsel2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: monospace;
    border-bottom: 1px solid black;
    padding-bottom: 25px;
    padding-top: 20px;
}

.carol-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.carol-header1 {
    padding: 15px;
    font-size: 25px;
}

.sneaker-carol {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height:  */
    overflow-x: scroll;
}

.carol-item {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    text-align: center;
}

.carol-img {
    height: 150px;
    width: auto;
}

.carol-item:hover {
    text-decoration: underline;
}


.see-all-button {
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    margin: 15px;
}

.see-all-button:hover {
    text-decoration: underline;
}

.see-all-button2 {
    display: none;
}

@media (max-width: 640px) {
    .carol-img {
        max-height: 90px;
    }

    .see-all-button {
        display: none;
    }

    .see-all-button2 {
        display: block;
        margin: 15px;
        font-size: 25px;
    }
}