.show {
    right: 0%;
    background-color: pink; 
    height: 100px;
    width: 100px;
    position: absolute;    
}

.hamBar {
  width: 10%;
  position: absolute;
  top: 0;
  bottom: 0;
  /* right: 10% */
  background: pink;
  transition: right 3s linear;
}

.sidebar {
    position: absolute;
    right: -100%;
    background: rgb(46, 68, 64);
    top: 0;
    bottom: 0;  
    width: 150px;
    transition: right 0.5s ease-in-out;
    z-index: 999;
}

.sidebar_items > * {
    overflow: auto;
    display: flex;
    align-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    border-bottom: lightgray solid 2px;
    border-radius: 5px;
    padding: 10px;
    
}

.sidebar-open {
    right: 0%!important;

}




.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(243, 85, 85, 0.5);
} 







