.navbar {
    display: flex;
    /* display: grid; */
    /* grid-template-columns: repeat(10, minmax(0,1fr)); */
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    align-items: flex-end;
    position: fixed;
    width: 100%;
    background: white;
    padding-top: 20px;
    margin-left: 80px;
    padding-right: 80px;
    /* margin-right: 80px; */
    padding-bottom: 50px;
    border: 2px solid lightgrey;
    border-top: none;
    top: 0px;
    /* minmax: auto; */
}

.navbar-left {
    font-size: 25px;
    padding-left: 50px;
}

.navbar-right {
    padding-right: 80px;
}

.navbar .navbar-right .navbar-list{
    display: flex;
    flex-direction: row;
    position: relative;
    font: gray;

}

.navbar-list li{
    display: flex;
    padding: 0px 20px 0px 20px;
    color: gray;
    /* flex-direction: row; */

}

.navbar-list li :hover {
    color: black;
    text-decoration: underline;
    transition-duration: 0.5s;
}

.discover {
    color: black;
    text-decoration: underline;
}


.magGlass{
    display: flex;
    width: 20px;
    height: 20px;
    /* margin-right: 100px; */
}

.fa-search:hover {
    color: yellow;
}
