.main-content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}



.navbar {
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    align-items: flex-end;
    position: fixed;
    width: 80%;
    background: white;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid lightgrey;
    top: 0px;
    /* margin: 0px 80px 0px 80px; */

    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
}

.navbar-left {
    font-size: 25px;
    padding-left: 50px;
}

.navbar-right {
    padding-right: 80px;
}

.navbar .navbar-right .navbar-list{
    display: flex;
    flex-direction: row;
    position: relative;
    font: gray;

}

.navbar-list li{
    display: flex;
    padding: 0px 20px 0px 20px;
    color: gray;
    /* flex-direction: row; */

}

.navbar-list li :hover {
    color: black;
    text-decoration: underline;
    transition-duration: 0.5s;
}

.discover {
    color: black;
    text-decoration: underline;
}


.magGlass{
    display: flex;
    width: 20px;
    height: 20px;
    /* margin-right: 100px; */
}

.fa-search:hover {
    color: yellow;
}
