
.splash-image {
  object-fit: cover;
  max-height: 650px;
  width: 100%;
}

.splash-text {
  display: flex;
  justify-content: center;
  position: relative;
  left: 5%;
  bottom: 5%;
  z-index: 5;
  color: white;
  /* text-shadow: -3px 0 black, 0 1px black, 3px 0 black, 0 -3px black; */
  text-shadow: 2px 2px 1px black, 2px 1px 1px black, 2px 0 1px black,
    2px -1px 1px black, 2px -2px 1px black, 1px -2px 1px black, 0 -2px 1px black,
    -1px -2px 1px black, -2px -2px 1px black, -2px -1px 1px black,
    -2px 0 1px black, -2px 1px 1px black, -2px 2px 1px black, -1px 2px 1px black,
    0 2px 1px black, 1px 2px 1px black;

  font-size: 50px;
}

.nav-container {
    height: 90px;
    top: 0;
    position: sticky;
    display: flex; 
    width: 100%;
    background: white;
}

.scroll {
    border-bottom: 1px solid rgb(222, 222, 222);
}

.navbar {
  background: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: 90px;
  width: calc(100% - 180px);
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: all 600ms ease 0s;
}

.title-logo {
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 1;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    transition: all 0.2s ease-in-out;
    font-size: 14px;
}

.navbar-list li {
    color: gray;
    margin-left: 30px;
}

.navbar-list li:hover {
    text-decoration: underline;
    color: black;
    transform: scale(1.05);
    cursor: pointer;
}

.cart-hidden {
    display: none;
}

@media (max-width: 640px) {
  .navbar {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .navbar-list-item {
    display: none;
  }

}

.foot-buttons {
  color: white;
  font-size: 50px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.foot-buttons:hover {
  color: darkgreen;
}