/* .show {
    right: 0%;
    background-color: yellow; 
    height: 100px;
    width: 100px;
    position: absolute;    
} */

/* .hamBar {
  width: 10%;
  position: absolute;
  top: 0;
  bottom: 0;
  /* right: 10% */
  /* background: none;
  transition: right 3s linear; */
 
.hamBar:hover {
 cursor: pointer;
}

.sidebar {
    position: absolute;
    right: -200%;
    height: 100%;
    background: white;
    top: 0;
    bottom: 0;  
    width: 400px;
    transition: right 0.5s ease-in-out;
    z-index: 999;
}

.sidebar_items > * {
    overflow: auto;
    display: flex;
    align-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    border-bottom: lightgray solid 1px;
    padding: 20px;
    font-size: 14px;
    text-decoration: underline solid transparent;
}

.sidebar_items > *:hover {
    text-decoration: underline solid black;
}

.sidebar-open {
    right: 0%!important;
    position: fixed;
}

.signInLinks  {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    text-decoration: underline solid transparent;
}

.loginBut {
    border-right: 2px solid lightgray;
    width: 50%;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(68, 88, 69, 0.5);
} 


.signin-buttons-container {
    width: 100%
}

.sidebar-signup {
    border: none;
}