.base_form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: lightgray 2px solid;
    margin: 80px;
    /* flex-direction: column; */
    box-sizing: border-box;
    font-family: Overpass, sans-serif
    
}

.formtype {
    padding: 3
}
.form1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.form1 > * {
    margin: 10px
}

.side_image {
    display: flex;
    justify-content: flex-start;
    height: auto;
    box-sizing: border-box;
    width: 50%;
    border-right: lightgrey solid 1px ;
}