.base_form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(222, 222, 222);
    margin: 0 90px;
    box-sizing: border-box;
    font-family: monospace;
    height: calc(100vh - 180px);
    max-height: 800px;
    min-height: 500px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.footer {
    background: black;
    padding-top: 50px;
    height: 100px;
    width: auto;
}

.formtype {
    /* padding-top: 3; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
    /* line-height: 20px; */
    /* align-content: space-between; */
    /* padding-left: 100px */
    /* font- */
}

#form1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* height: 100%; */
    /* width: 100%; */
    padding: 100px 10px 0px 10px;
    /* margin: 80px 0px 0px 0px; */
    height: 90%;
}

#form1 > * {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* align-content: space-between; */
    width: 100%;
    margin: 10px 0px 10px 0px;
}


.side_image {
    display: flex;
    justify-content: flex-start;
    height: auto;
    box-sizing: border-box;
    width: 50%;
    /* border-right: lightgrey solid 1px ; */
}

.inputBox {
    border: 0;
    outline: 0;
    border-bottom: 1px solid lightgrey;
    margin: 5px;
    border-radius: 2px;
    width: 80%;
}

.signInLabel {
    color: gray;
    font-size: 15px;
    /* font-weight: 900px; */
}

.signInBox-Right {
    width: 100%;
    height: 100%;
    border-left: lightgrey solid 1px ;

}

.login-text1 {
    color: gray;
    font-size: 12px;
    font-weight: 400;
} 

.redirect-signin {
    text-decoration: underline;
    color: black;
    font-size: 12px;
    line-height: 16px;
    margin-top: 40px
}

.formtype-label {
    line-height: 72px;
}

.session-buttons {
    display: flex;
    bottom: 0;
    border-top: 1px solid rgb(222, 222, 222);
    height: 10%;
}

.submit-button {
    /* border: 1px solid lightgray; */
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.demo-button {
    /* border: 1px solid lightgray; */
    border-left: 1px solid lightgray;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbuttons:hover {
    background-color: black;
    color: white;
}


/* 
session-button: 
position absolute
left
right 0


sign-inbox right:
position
*/


.session-errors {
    width: 100%;
    display: flex;
    text-align: center;
    color: red;
}

@media (max-width: 640px) {
    .base_form {
        width: 100%;
        border: none;
        border-top: 1px solid rgb(222, 222, 222);
        margin: 0;
    }

    .side_image {
        display: none;
    }
}