

.index-header {
    font-size: 32px;
    font-family: monospace;
    padding: 50px 0 50px 0 ;
    text-align: center;
    
}


.snkr-idx {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 90px 20px 90px;
}

.snkr-idx-itm {
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 1px solid rgb(222, 222, 222);
    padding: 75px 22px;
}

.snkr-idx-item-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.snkr-img {
    display: flex;
    align-items: center;
    width: 65%;
}

.snkr-idx-prop {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif */
    font-family: monospace;
}

.snkr-idx-prop > * {
    padding: 5px;
}

/* @cat
.snkr-idx-itm:hover {
    border: 1px solid black;
    cursor: pointer;
} */


.sneaker-show-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(222, 222, 222);
    margin: 0 90px;
    box-sizing: border-box;
    font-family: monospace;
    height: calc(100vh - 180px);
    max-height: 800px;
    min-height: 500px;
    border-radius: 5px
}

.sneaker-show-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    border-right: 1px solid rgb(222, 222, 222);
    height: 100%;
}

.sneaker-show-left > :nth-child(2) {
    display: flex;
    justify-content: center;
}


.sneaker-show-img {
    height: auto;
    width: 80%;
    padding: 200px 0;
    margin: auto;
}

.sneaker-show-left > :last-child {
    font-size: 12px;
    color: gray;
    padding-top: 80px;
}

.sneaker-show-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: space-between;
}

.sneaker-show-right > * {
    width: 100%;
    height: 100%;
}

.sneaker-img-container {
    overflow: auto;
    height: 80%;
}


.listing-index {
    overflow: auto;
    height: 90%;
    width: 100%;
    padding-right: 10px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    font-family: monospace;
    
}

.close-list-window {
    width: 100%;
    bottom: 0;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid lightgray;
    border-top: 2px soliday lightgray;
    height: 10%;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}

.close-list-window:hover {
    color: white;
    background: black;
    text-transform: underline;
}

.listing-header {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 5%;
}

.listing-header > :first-child {
    font-size: 12px;
    color: gray;
}

.listing-header > :last-child {
    padding-top: 10px;
    font-size: 20px;

}

.default-sneaker-show-right {
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-direction: column;
     height: 100%;
     font-family: monospace;
}

.default-sneaker-show-right > :first-child{
    font-size: 32px;
    margin: 0% 25% 10% 25%;
    display: flex;
    text-align: center;
    padding-top: 25%;
}

.default-sneaker-show-right > :nth-child(2) {
    font-size: 15px;
    line-height: 18px;
    color: gray;
    margin-bottom: auto;
}

.default-sneaker-show-right > :last-child {

    display: flex;
    align-items: center;
    /* margin-top: 100%; */
    /* height: 40px; */
    width: 100%;
    bottom: 0px;
}



.listing-idx {
    height: 100%;
    top: 0;
    padding: 10px;
    font-family: monospace;
}

.show-listing-button {
    display: flex;
    justify-content: center;
    bottom: 0;
    border-top: 1px solid rgb(222, 222, 222);
    height: 10%;
    font-size: 20px;

}



.show-listing-button:hover {
    color: white;
    background: black;
    text-transform: underline;
}

.listing-row {

    display: flex;
    justify-content: center;
    margin-right: 50px;
    padding: 15px;
    padding: 10px 0px 10px 0px;
    border-top: 1px solid lightgray;
    font-size: 15px;
    width: 100%;
    height: 50px;
    
}


.listing-row > li {

    font-family: monospace;
}

/* .listing-row :hover {

    border: 2px solid black;
} */

.sneaker-desc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    text-align: center;
    margin: 0 10% 0 10%;
    font-size: 15px;
}

.sneaker-desc > :first-child {
    padding: 24px;
    font-size: 11px;
    font-weight: 700px;
    letter-spacing: 1.5px;
    
}

.sneaker-desc > :nth-child(2) {
    font-size: 11px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.sneaker-desc > :last-child {
    padding-top: 20px;
    /* margin: 0px 320px 0px 320px; */
    line-height: 2rem;
}

/* 
.sneaker-show-right {
    /* display: flex; */
    /* text-align: center; */
    /* font-size: 32px; */
/* } */


.product-details {
    padding-top: 100px;
    text-transform: uppercase;
    font-family: monospace;
    margin: 0 10% 0 10%;
}

.product-details > * {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-top: 20px;
    padding-bottom: 10px;
    letter-spacing: 1.5px;
    font-family: monospace;



}

.product-details > :last-child {
    border-bottom: 1px solid black;
    margin-bottom: 40px;
}

.category-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    font-family: monospace;    
    text-align: center;
    margin: 0 20% 0 20%;
    line-height: 2rem;
}

.category-description > :first-child {
    font-size: 32px;
}

.category-description > :nth-child(2) {
    margin: 5% 0 5% 0;
}

.category-description > :nth-child(3) {
    margin: 0 0 5% 0;
}

.listings-container {
    height: 90%;
}

.listing-row:hover {
    /* background-color: red;
    border-color: red; */
    border: 1px solid black;
}

.listing-size {
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    width: 50%;
}

.listing-price {
    width: 50%;
}

.displayNone {
    display: none;
}

@media (max-width: 780px) {
    .snkr-idx {
        display: grid;
        grid-template-columns: repeat(auto-fill, 50%);
        padding: 0;
    }

    .snkr-img {
        max-height: 50%;
        min-height: 50%;
        max-width: 60%;
    }
}

@media (max-width: 384px) {
    .snkr-idx {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }
}

@media (min-width: 780px) and (max-width: 1179px) {
    .snkr-idx {
        grid-template-columns: repeat(auto-fill, 33.33%);
    }
}

@media (max-width: 640px) {
    .sneaker-show-form {
        margin: 0;
        flex-direction: column;
    }
}