

.index-header {
    font-size: 32px;
    font-family: Arial;
    padding: 200px 0 125px 0 ;
    text-align: center;
    
}


.snkr-idx {
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
    margin: 90px 40px 80px 80px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 80px;
    /* padding-top: 80px; */
    /* border: 2px solid black; */
    border-color: black;
    border: 2px solid black;
    border-bottom: none;
    height: 100%;
    margin: auto;
    width: 80%;
    /* box-sizing: border-box; */
    /* width:  */
}

.snkr-idx-itm {
    display: flex;
    /* margin-right: 10px; */
    /* flex-flow: wrap row; */
    height: 350px;
    width: 300px;
    border: 1px solid lightgray;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}

.snkr-img {
    display: flex;
    align-items: center;
    padding-left: 55px;
    /* height: 25%; */
    width: 65%;
}

.snkr-idx-prop {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.snkr-idx-prop > * {
    padding: 5px;
}

.snkr-idx-itm:hover {
    border: 1px solid black;
    cursor: pointer;
}


.sneaker-show-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid lightgray;
    margin: 160px 80px 40px 80px;
    box-sizing: border-box;
    font-family: Overpass, sans-serif;
    height: 700px;
}

.sneaker-show-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    border-right: 1px solid black;
    height: 100%
    
}

.sneaker-show-left > :nth-child(2) {
    display: flex;
    justify-content: center;
}


.sneaker-show-img {
    height: auto;
    width: 80%;
    padding-bottom: 50px;
    margin: auto;
}

.sneaker-show-left > :last-child {
    font-size: 12px;
    color: gray;
    padding-top: 80px;
}

.sneaker-show-right {
    width: 50%;
    height: 100%;
}

.sneaker-img-container {
    overflow: auto;
    height: 400px;
}

.listing-index {
    overflow: auto;
    height: 600px;
    width: 100%;
    padding-right: 10px;
}

.close-list-window {
    width: 100%;
    bottom: 0;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.listing-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* .listing-header > * {
    font
} */

.default-sneaker-show-right {
     font-family: Arial;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-direction: column;
     height: 100%;
}

.default-sneaker-show-right > :first-child{
    font-size: 32px;
    margin: 10% 25% 10% 25%;
    display: flex;
    text-align: center;
    padding-top: 25%;
}

.default-sneaker-show-right > :nth-child(2) {
    font-size: 15px;
    line-height: 18px;
    color: gray;
    margin-bottom: auto;
}

.default-sneaker-show-right > :last-child {

    display: flex;
    align-items: center;
    /* margin-top: 100%; */
    height: 40px;
    width: 100%;
    bottom: 0px;
}



.listing-idx {
    height: 80%;
    top: 0;
    margin: 50px;
    padding: 10px;
}

.show-listing-button {
    /* border: 2px solid red;
    width: 100%; */
        display: flex;
    /* align-items: flex-end; */
    /* margin-top: 401px; */
    bottom: 0;
    border-top: 1px solid lightgray;
    border-top: 2px soliday lightgray;
    height: 10%;
}

.show-listing-button:hover {
    color: white;
    background: black;
    text-transform: underline;
}

.listing-row {

    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    padding: 15px;
    padding: 10px 0px 10px 0px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    font-size: 20px;
    width: 100%;
    
}


.listing-row > * {

    font-family: Overpass, sans-serif;

}

/* .listing-row :hover {

    border: 2px solid black;
} */

.sneaker-desc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Overpass, sans-serif;
    text-align: center;
}

.sneaker-desc > :first-child {
    padding: 24px;
    font-size: 11px;
    font-weight: 700px;
    letter-spacing: 1.5px;
}

.sneaker-desc > :nth-child(2) {
    font-size: 11px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.sneaker-desc > :last-child {
    padding-top: 20px;
    margin: 0px 320px 0px 320px;
    line-height: 2rem;
}

/* 
.sneaker-show-right {
    /* display: flex; */
    /* text-align: center; */
    /* font-size: 32px; */
/* } */


.product-details {
    padding-top: 100px;
    text-transform: uppercase;
    font-family: Overpass, sans-serif;
}

.product-details > * {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0px 320px 0px 320px;
    letter-spacing: 1.5px;
    font-family: Overpass, sans-serif;


}

.product-details > :last-child {
    border-bottom: 1px solid black;
    margin-bottom: 40px;
}
